// COLORS
$color-fg: #93979e;
$color-bg: #26282e;
$color-grey: #EEEEEE;
$color-link: #fff;
$color-code: #00FF00;

// FONT
$font-family: "'Courier New', Courier, monospace;";

// BREAKPOINTS
$br: 600px;
